
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)
) 

/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)
)  

/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)
)  

/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)
)  

/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)
)  

/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)
) 

/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)
)  

/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)
)  

/****** Object:  Table [dbo].[C_Diagnoses]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[C_Diagnoses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DiagnosisID] [nvarchar](256) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ValidThroughDate] [datetime2](7) NULL,
	[TimestampRead] [datetime2](7) NULL,
	[LastSynced] [datetime2](7) NULL,
 CONSTRAINT [PK_C_Diagnoses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)  

/****** Object:  Table [dbo].[C_MultiLabAnalyses]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[C_MultiLabAnalyses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderRegistryFileName] [nvarchar](256) NOT NULL,
	[AnalysisID] [nvarchar](256) NOT NULL,
	[AnalysisShortName] [nvarchar](256) NULL,
	[AnalysisName] [nvarchar](256) NULL,
	[Dicipline] [nvarchar](256) NULL,
	[TimestampRead] [datetime2](7) NOT NULL,
	[LastSynced] [datetime2](7) NULL,
 CONSTRAINT [PK_C_MultiLabAnalyses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
) 

/****** Object:  Table [dbo].[C_Terms]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[C_Terms](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TermID] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Unit] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NULL,
	[ValidThroughDate] [datetime2](7) NULL,
	[TimestampRead] [datetime2](7) NULL,
	[LastSynced] [datetime2](7) NULL,
 CONSTRAINT [PK_C_Terms] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)
)  

/****** Object:  Table [dbo].[MedDataType]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[MedDataType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_MedDataType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)
)  

/****** Object:  Table [dbo].[MedRegistry]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[MedRegistry](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_MedRegistry] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)
)  

/****** Object:  Table [dbo].[Uttag]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[Uttag](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Uttag] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)
)  

/****** Object:  Table [dbo].[UttagData]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [dbo].[UttagData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Uttag_Id] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[SqlCode] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ChangedAt] [datetime2](7) NOT NULL,
	[ServerSource] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UttagData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)
)  

/****** Object:  Table [u3].[sql_a]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [u3].[sql_a](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL
)  

/****** Object:  Table [u3].[sql_b]    Script Date: 2025-07-30 23:33:33 ******/




CREATE TABLE [u3].[sql_b](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL
)  

ALTER TABLE [dbo].[Uttag] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]

ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE

ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]

ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE

ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]

ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE

ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]

ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE

ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]

ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE

ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]

ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE

ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]

ALTER TABLE [dbo].[UttagData]  WITH CHECK ADD  CONSTRAINT [FK_UttagData_Uttag_Uttag_Id] FOREIGN KEY([Uttag_Id])
REFERENCES [dbo].[Uttag] ([Id])
ON DELETE CASCADE

ALTER TABLE [dbo].[UttagData] CHECK CONSTRAINT [FK_UttagData_Uttag_Uttag_Id]

